<div class="customer-info-panel" [class.workspace-locked]="locked">
    <section class="customer-info-card">
        <div class="customer-info-card__header">
            <div>
                <div class="customer-info-card__eyebrow">Customer Reference</div>
                <h4>{{getDisplayValue(customerInfo.billingName)}}</h4>
            </div>
            <button
                mat-stroked-button
                type="button"
                class="customer-info-card__edit"
                (click)="setEditMode(!editMode)"
                [disabled]="locked">
                <mat-icon [fontIcon]="editMode ? 'visibility' : 'edit'"></mat-icon>
                {{editMode ? 'View Card' : 'Edit Info'}}
            </button>
        </div>

        <div class="customer-info-card__body">
            <div class="customer-info-card__primary">
                <div class="customer-info-card__label">Business Point of Contact</div>
                <div class="customer-info-card__value">{{getDisplayValue(customerInfo.businessPointOfContactName)}}</div>
            </div>
            <div class="customer-info-card__quick-grid">
                <div class="customer-info-card__item">
                    <mat-icon fontIcon="mail"></mat-icon>
                    <span>Email</span>
                    <a
                        *ngIf="isValidEmail(customerInfo.billingEmail); else customerEmailText"
                        class="customer-info-card__link"
                        [href]="getEmailHref(customerInfo.billingEmail)">
                        {{getDisplayValue(customerInfo.billingEmail)}}
                    </a>
                    <ng-template #customerEmailText>
                        <strong>{{getDisplayValue(customerInfo.billingEmail)}}</strong>
                    </ng-template>
                </div>
                <div class="customer-info-card__item">
                    <mat-icon fontIcon="call"></mat-icon>
                    <span>Phone</span>
                    <a
                        *ngIf="isValidPhone(customerInfo.billingPhone); else customerPhoneText"
                        class="customer-info-card__link"
                        [href]="getPhoneHref(customerInfo.billingPhone)">
                        {{getDisplayValue(customerInfo.billingPhone)}}
                    </a>
                    <ng-template #customerPhoneText>
                        <strong>{{getDisplayValue(customerInfo.billingPhone)}}</strong>
                    </ng-template>
                </div>
                <div class="customer-info-card__item">
                    <mat-icon fontIcon="receipt_long"></mat-icon>
                    <span>Contract / PO</span>
                    <strong>{{getDisplayValue(customerInfo.contractOrPoNumber)}}</strong>
                </div>
            </div>
            <div class="customer-info-card__address">
                <mat-icon fontIcon="location_on"></mat-icon>
                <div>
                    <span>Billing Address</span>
                    <strong>{{getDisplayValue(customerInfo.billingAddress)}}</strong>
                </div>
            </div>
        </div>
    </section>

    <div *ngIf="editMode && !locked" class="customer-info-editor">
        <div class="customer-info-editor__header">
            <div>
                <div class="customer-info-card__eyebrow">Edit Customer Info</div>
                <h5>Customer Details</h5>
            </div>
        </div>
        <div class="customer-info-editor__fields">
            <mat-form-field>
                <mat-label>Billing Name</mat-label>
                <input matInput [(ngModel)]="customerInfo.billingName" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Business Point of Contact</mat-label>
                <input matInput [(ngModel)]="customerInfo.businessPointOfContactName" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" inputmode="email" autocomplete="email" [(ngModel)]="customerInfo.billingEmail" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput type="tel" inputmode="tel" autocomplete="tel" [(ngModel)]="customerInfo.billingPhone" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contract / PO Number</mat-label>
                <input matInput [(ngModel)]="customerInfo.contractOrPoNumber" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Billing Address</mat-label>
                <textarea matInput rows="4" [(ngModel)]="customerInfo.billingAddress"></textarea>
            </mat-form-field>
        </div>
    </div>
</div>
