<page-toolbar [title]="project?project.name:''">
    <div class="button-bar">
        <button mat-fab class="back" [routerLink]="'/projects'">
            <mat-icon fontIcon="chevron_left"></mat-icon>
        </button>
    </div>
    <div style="margin-left: 15px;">
        <mat-form-field style="margin-top: 18px;">
            <mat-select [(value)]="tab" (selectionChange)="setTab($event)">
                <mat-option *ngFor="let tabEntry of tabs" [value]="tabEntry">{{tabEntry}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-button-toggle-group name="contentLayout" aria-label="Content Layout" style="margin-left: 10px;">
            <mat-button-toggle *ngFor="let layoutItem of layouts" [value]="layoutItem" 
                [checked]="layout===layoutItem" (click)="setLayout(layoutItem)">{{layoutItem}}</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</page-toolbar>
<div *ngIf="!pageWorking" class="page-root">

    <div *ngIf="project" class="page-content">
        <div class="tabstrip">
            <!-- <button *ngFor="let tabEntry of tabs" mat-raised-button [disabled]="tab!==tabEntry" [disabledInteractive]="tab!==tabEntry" (click)="setTab(tabEntry)" style="border-radius: 1px;cursor: pointer;">{{tabEntry}}</button> -->
        </div>
        <div class="content-root">

            <div *ngIf="tab==='OVERVIEW'">
                <div *ngIf="project">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="[project]"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(project)}}</pre>
                    </div>
                </div>
            </div>

            <div *ngIf="tab==='ACTIONS'">
                <div *ngIf="project&&actionsLoaded" class="action-panel" style="margin-top: 6px;display: flex;flex-wrap:wrap;">

                    <div style="width: 100%;margin-bottom: 20px;">
                        <table style="border-collapse: collapse;width: 500px;">
                            <tr>
                                <td colspan="2">
                                    <input placeholder="Select File..." type="file" />
                                </td>
                            </tr>
                            <tr>
                                <td>Template</td>
                                <td>
                                    <mat-form-field style="width: 350px;">
                                        <mat-select [(value)]="selectedTemplate">
                                            <mat-option *ngFor="let template of templates" [value]="template">{{template}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>Floorplan</td>
                                <td>
                                    <mat-form-field style="width: 350px;">
                                        <mat-select [(value)]="selectedFloorplanId">
                                            <mat-option *ngFor="let floorplan of floorplans?.full" [value]="floorplan.id">{{floorplan.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: right;">
                                    <button style="margin-left: 15px;" mat-flat-button (click)="importTasks()">SUBMIT</button>
                                </td>
                            </tr>
                        </table>
                        
                    </div>

                    <!-- <div style="width: 100%;margin-bottom: 20px;">
                        <button mat-flat-button (click)="createSingleTask()">CREATE DEVICE</button>
                        <span>&nbsp;of&nbsp;type&nbsp;</span>
                        <mat-form-field>
                            <mat-select [(value)]="selectedTeamId">
                                <mat-option *ngFor="let team of teams?.full" [value]="team.id">{{team.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <span>&nbsp;into&nbsp;floorplan&nbsp;</span>
                        <mat-form-field>
                            <mat-select [(value)]="selectedFloorplanId">
                                <mat-option *ngFor="let floorplan of floorplans?.full" [value]="floorplan.id">{{floorplan.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                </div>
            </div>
    
            <div *ngIf="tab==='STATS'">
                <div *ngIf="stats">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="stats.reduced"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(stats)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='FOLDERS'">
                <div *ngIf="folders">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="folders.reduced"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(folders)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='FLOORPLANS'">
                <div *ngIf="floorplans">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="floorplans.reduced"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(floorplans)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='SHEETS'">
                <div *ngIf="sheets">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="sheets.reduced"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(sheets)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='STATUSES'">
                <div *ngIf="statuses">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="statuses.reduced"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(statuses)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='LOCATIONS'">
                <div *ngIf="locations">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="locations.reduced"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(locations)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='TEAMS'">
                <div *ngIf="teams">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="teams.reduced"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(teams)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='TASKS'">
                <div *ngIf="tasks">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="tasks.reduced"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(tasks)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='TASK TYPE ATTRIBUTES'">
                <div *ngIf="taskTypeAttributes">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="taskTypeAttributes.reduced"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(taskTypeAttributes)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='TASK ATTRIBUTES'">
                <div *ngIf="taskAttributes">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="taskAttributes.reduced"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(taskAttributes)}}</pre>
                    </div>
                </div>
            </div>

            <div *ngIf="tab==='TASK CHECK ITEMS'">
                <div *ngIf="taskCheckItems">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="taskCheckItems.reduced"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(taskCheckItems)}}</pre>
                    </div>
                </div>
            </div>

            <div *ngIf="tab==='ATTACHMENTS'">
                <div *ngIf="attachments">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="attachments.reduced"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(attachments)}}</pre>
                    </div>
                </div>
            </div>
    
        </div>

    </div>
    
</div>
<div *ngIf="pageWorking">
    Loading, Please wait...
</div>