<page-toolbar [title]="project?project.name:''">
    <div style="margin-left: 15px;">
        <mat-form-field style="margin-top: 18px;">
            <mat-select [(value)]="tab" (selectionChange)="setTab($event)">
                <mat-option *ngFor="let tabEntry of tabs" [value]="tabEntry">{{tabEntry}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-button-toggle-group name="contentLayout" aria-label="Content Layout" style="margin-left: 10px;">
            <mat-button-toggle *ngFor="let layoutItem of layouts" [value]="layoutItem" 
                [checked]="layout===layoutItem" (click)="setLayout(layoutItem)">{{layoutItem}}</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</page-toolbar>
<div *ngIf="!pageWorking" class="page-root">

    <div *ngIf="project" class="page-content">
        <div class="tabstrip">
            <!-- <button *ngFor="let tabEntry of tabs" mat-raised-button [disabled]="tab!==tabEntry" [disabledInteractive]="tab!==tabEntry" (click)="setTab(tabEntry)" style="border-radius: 1px;cursor: pointer;">{{tabEntry}}</button> -->
        </div>
        <div class="content-root">

            <div *ngIf="tab==='OVERVIEW'">
                <div *ngIf="project">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="[project]"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(project)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='STATS'">
                <div *ngIf="stats">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="[stats]"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(stats)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='FOLDERS'">
                <div *ngIf="folders">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="folders"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(folders)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='FLOORPLANS'">
                <div *ngIf="floorplans">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="floorplans"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(floorplans)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='SHEETS'">
                <div *ngIf="sheets">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="sheets"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(sheets)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='STATUSES'">
                <div *ngIf="statuses">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="statuses"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(statuses)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='LOCATIONS'">
                <div *ngIf="locations">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="locations"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(locations)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='TEAMS'">
                <div *ngIf="teams">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="teams"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(teams)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='TASKS'">
                <div *ngIf="tasks">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="tasks"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(tasks)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='TASK ATTRIBUTES'">
                <div *ngIf="taskAttributes">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="taskAttributes"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(taskAttributes)}}</pre>
                    </div>
                </div>
            </div>
    
            <div *ngIf="tab==='TASK CHECK ITEMS'">
                <div *ngIf="taskCheckItems">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="taskCheckItems"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(taskCheckItems)}}</pre>
                    </div>
                </div>
            </div>

            <div *ngIf="tab==='ATTACHMENTS'">
                <div *ngIf="attachments">
                    <div *ngIf="layout==='Tabular'">
                        <mission-tabular-component [datasource]="attachments"></mission-tabular-component>
                    </div>
                    <div *ngIf="layout==='Raw'">
                        <pre>{{jsonify(attachments)}}</pre>
                    </div>
                </div>
            </div>
    
        </div>

    </div>
    
</div>
<div *ngIf="pageWorking">
    Loading, Please wait...
</div>