@use '@angular/material' as mat;
@use './assets/theme-colors' as my-theme; // use same color as $primary-bg in _variables

@use './assets/variables';

// https://github.com/angular/components/blob/main/src/material/schematics/ng-generate/theme-color/README.md
// ng generate @angular/material:theme-color - use same colors as _variables to create palette properly

html, body { height: 100%; }

html {
    @include mat.theme((
        color: (
            primary: my-theme.$primary-palette,
            tertiary: my-theme.$tertiary-palette,
            theme-type: dark,
        ),
        typography: Roboto,
        density: 0
    ));
}

body { margin: 0; font-family: Roboto; background-color: variables.$app-bg;color: variables.$app-fg;overflow:hidden;}
a, a:visited {
    text-decoration: none;
    color: variables.$app-fg;
}
.page-toolbar {
    .button-bar {
        margin-left: 12px;
        button {
            margin-right: 2px;
            border-radius: 0 !important;
            background-color:  variables.$secondary-muted-bg;
            color: variables.$secondary-muted-fg;
        }
        button.active {
            background-color: variables.$secondary-1-bg;
            color: variables.$secondary-1-fg;
            border: .5px solid variables.$secondary-1-fg;
        }
        button.back {
            border-radius: 0;
        }
    }
}
.page-root {
    padding-left: 10px;
    overflow: hidden;
    .page-content {
        overflow: hidden;
        .tabstrip {
            margin: 10px 0;
            button {
                height: 40px;
                border-radius: 0;
                margin-left: 10px;
            }
            .mat-mdc-form-field-subscript-wrapper {
                height: 0 !important;
            }
        }
        .content-root {
            height: calc(100vh - 65px);
            overflow: auto;
            scrollbar-color: variables.$secondary-bg variables.$secondary-fg;
            scrollbar-width: thin;
            table {
                border-spacing: none;
                border-collapse: collapse;
                border: none;
                tr:nth-child(odd) {
                    background-color: #1a1a1a;
                }
                tr {
                    border-bottom: .5px solid #333;
                }
                th {
                    height: 40px;
                    vertical-align: middle;
                    padding: 6px 12px;
                }
                th, td {
                    text-align: left;
                }
                td {
                    padding: 6px 12px;
                }
                .mat-column-cost, .right-align {
                    text-align: right;
                    justify-content: flex-end;
                    .mat-sort-header-content {
                        width: 100%;
                        text-align: right;
                        justify-content: flex-end;
                    }
                }
            }
            .simple-card-container {
                padding: 10px;
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                div {
                    width: 300px;
                    margin-bottom: 10px;
                }
            }
        }
        .content-root.with-tabstrip {
            height: calc(100vh - 141px);
        }
    }
}
table {
    border-spacing: none;
    border-collapse: collapse;
    border: none;
    tr:nth-child(odd) {
        background-color: #1a1a1a;
    }
    tr {
        border-bottom: .5px solid #333;
    }
    th {
        vertical-align: middle;
    }
    th, td {
        text-align: left;
    }
}
.component-group-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    h4 {
        margin: 0;
        padding: 10px 0;
        padding-left: 10px;
        border-bottom: 1px solid variables.$secondary-bg;
    }
    .component-group {
        border: 1px solid variables.$secondary-bg;
        border-radius: 0;
        margin: 0;
        padding: 0;
        width: 340px;
        position: relative;
        table {
            width: 100%;
            max-width: 330px;
            margin: 4px;
            margin-top: 15px;
            padding: 8px;
        }
        .toolbar-btn {
            position: absolute;
            top: 23px;
            right: 20px;
        }
        mat-list-item {
            border-bottom: 1px solid variables.$secondary-bg;
        }
    }
}
.spacer {
    flex: 1 1 auto;
}
input[type=file]::file-selector-button {
    cursor: pointer;
    border: 0;
    padding: 8px;
    background-color: variables.$primary-bg;
    color: variables.$primary-fg;
    border-radius: 8px;
    margin-right: 12px;
}

.circle-btn {
    width: 40px;height: 40px;max-width: 40px;padding:0;margin:0;border-radius:50%;
    cursor: pointer;
    box-shadow: none;
    border: .5px solid variables.$secondary-muted-fg;
    background-color: variables.$secondary-muted-bg;
    color: variables.$secondary-muted-fg;
}
.right-panel-full-img {
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 70px);
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    align-items: start;
    .callout {
        width: 300px;
        height: 150px;
        margin-top: 20px;
        background-color: variables.$warn-bg;
        color: variables.$warn-fg;
        border: 1px solid variables.$secondary-bg;
        border-radius: 2px;
        padding: 12px;
        padding-top: 0;
    }
}
:root  {
  @include mat.dialog-overrides((
    container-min-width: calc(100vw - 240px)
  ));
}
.dialog-content {
    min-height: calc(100vh - 200px);
    width: calc(100vw - 240px);
    overflow: hidden;
    .content-toolbar {
        .subtext {
            font-size: 12px;
        }
    }
    .content-list {
        min-height: calc(100vh - 270px);
        max-height: calc(100vh - 270px);
        height: calc(100vh - 270px);
        overflow: auto;
        scrollbar-color: variables.$secondary-bg variables.$secondary-fg;
        scrollbar-width: thin;
        .centered-progress {
            display:grid;
            grid-template:1fr/1fr;
            align-items: center;
            width: 100%;height:100%;
            justify-items: center;
            font-size: 2rem;
        }
    }
}
.nav-tile {
    cursor: pointer;
    opacity: .8;
}
.nav-tile:hover {
    opacity: 1;
}
button.active {
    background-color: variables.$primary-bg;
    color: variables.$primary-fg;
}
button.success {
    background-color: variables.$success-bg;
    color: variables.$success-fg;
}
.table-link a {
    text-decoration: underline;
    color: variables.$secondary-bg;
}
.mat-column-cost {
    text-align: right;
    justify-content: flex-end;
}
:root [color="primary"] {
    @include mat.toolbar-overrides((
        container-background-color: variables.$primary-bg,
        container-text-color: variables.$primary-fg
    ));
}
:root [color="accent"] {
    @include mat.toolbar-overrides((
        container-background-color: variables.$secondary-bg,
        container-text-color: variables.$secondary-fg
    ));
}
:root .cdk-overlay-pane {
    border: 1px solid variables.$secondary-bg;
}
:root .mdc-dialog--open .mat-mdc-dialog-surface {
    border-radius: 0;
}
.loading-panel {
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}